name: CI DevOps Complete

on:
  push:
    branches:
      - main

jobs:
  build-and-infra:
    runs-on: ubuntu-latest
    steps:
      # 1. Récupérer le code
      - name: Checkout
        uses: actions/checkout@v3

      # 2. Partie Docker
      - name: Build Docker Image
        run: docker build -t mon-site-web .

      # 3. Partie Terraform (Installation)
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_wrapper: false

      # 4. Terraform Init
      - name: Terraform Init
        run: terraform init

      # 5. Terraform Apply
      - name: Terraform Apply
        run: terraform apply -auto-approve