name: Docker Build CI

on:
  push:
    branches:
      - main

jobs:
  build-docker:
    runs-on: ubuntu-latest
    steps:
      - name: 1. Récupérer le code
        uses: actions/checkout@v3
      
      - name: 2. Construire l'image Docker
        # C'est ici que la magie opère : on fabrique l'image "mon-site-web"
        run: docker build -t mon-site-web .
        
      - name: 3. Vérification
        # Juste pour prouver que l'image existe
        run: docker image ls